html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Raleway', sans-serif;
}
header {
    width: 100%;
    height: 1000px;
    background-image: url('zig zag wool.png');
}
.content>h1
{
    text-align: center;
    padding: 20px;
}
.content>p{
    padding-bottom: 20px;
}
.content{
    text-align: justify;
    width: 90%;
    margin: 5px auto;
    line-height: 30px;
    padding-bottom: 100px;
}
.logo{
    position: fixed;
    float: left;
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    margin: 18px 36px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 2000;
}
nav ul {
    list-style: none;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(0,0,0,0);
    transition: 2s;
}
nav.styleScroll ul{
    background: rgba(72,72,72,1);
    opacity: 0.9;
}
nav.none .logo {
    display: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu-icon{
    padding: 16px 24px;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    display: none;
    color: white;
}
@media(max-width: 659px) {

    nav ul{
        max-height: 0px;
        background-color: rgba(0,0,0,0);
    }
    nav.styleScroll ul{
        background: rgba(72,72,72,1);
    }
    nav.styleScroll .menu-icon{
        background: rgba(72,72,72,1);

    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 10px;
    }
    .opa {
        max-height: 1000px;
    }
    nav ul li{
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
        background-color: rgba(0,0,0,0);
        opacity: 0.9;
        transition: 2s;
    }

}
.centeredTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.title{
    color: red;
    text-align: center;
}
#aboutMe{
    font-size: 40px;
    font-weight: 600;
}
img{
    width: 100%;
    background-image: none;
}
hr{
    border-style: solid;
    border-width: 1.3px;
    margin-top: 0px;
    width: 300px;
    margin-left: 0;
}
.iconGit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    border-radius: 50px;
    background-color: lightSkyblue;
    font-size: 20px;
}
.sectionIcons{
    display:flex;
    flex-direction: row;
}
.icon{
    padding: 10px;
}

/* Rectangle to square */

.form{
    width: 70px;
    height: 70px;
    border-style: solid;
    border-color: red;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form>h1{
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}
.border-logo{
    border-radius: 50px;
}
.border-item{
  border-radius: 200px;
}
/* section info */

.info{
    height: 750px;
}

.skills{
height: 750px;
background-color: red;
display: flex;
justify-content: center;
align-items: center;
}
#portret{
    width: 400px;
    height: 400px;
}
.cartoon
{
    text-align: center;
}

.projects{

height: 750px;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
.col-md-6{
    padding: 0; important!;
}

.item1{
  height: 450px;
  width: 450px;
  border-style:solid;
  border-width: 10px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.content-text{
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 20px;
}
.item2{
  height: 450px;
  width: 450px;
  border-style:solid;
  border-color: red;
  border-width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
